@import "reset.css";
@import "variables";
@import "base";
@import "twitter";

h1 {
  text-align: center;
  font-size: 100px;

  img {
    height: 70px;
  }
}
.profile-image {
  img {
    width: 400px;
    .box-shadows(8px, 8px, 20px, #888);
  }

}
