@import "reset.css";
@import "variables";
@import "base";
@import "twitter";

/* overview step */

#overview {
    z-index: -1;
    padding: 0;
}

/* on overview step everything is visible */

#impress.step-overview .step {
    opacity: 1;
    cursor: pointer;
}

/* start step */
h1 {
  text-align: center;
  font-size: 100px;

  img {
    height: 70px;
  }
}
.profile-image {
  img {
    width: 400px;
  }

}

#college  {
  font-size: 18px;
}

#osc {
  text-align: center;

  img {
    width: 500px;
  }
}

#madison-county-schools, #wwweb {
  font-size: 18px;

  h2 {
    text-align: center;
    font-size: 32px;
  }
}

#newswise {
  font-size: 14px;

  .logo {
    text-align: center;
    margin-bottom: 10px;

    img {
      width: 300px;
    }
  }

  img.newswise-search {
    width: 550px;
    height: 300px;
  }

  .left, .right {
    width: 400px;
  }

  ul {
    margin-left: 10px;

    li {
      list-style: disc;
      margin-bottom: 5px;
    }
  }
}

#ticketfly {
  font-size: 18px;

  .logo {
    text-align: center;
    margin-bottom: 10px;

    img {
      width: 300px;
    }
  }

  img {
    width: 550px;
  }

  .left, .right {
    width: 400px;
  }

  ul {
    margin-left: 10px;

    li {
      list-style: disc;
      margin-bottom: 5px;
    }
  }
}

.jogabo {
  text-align: center;

  &.screenshot {
    img {
      width: 800px;
      height: 500px;
    }
  }

  &.info {
    text-align: left;
  }

  &.app {
    text-align: right;
  }
}

.rumble {
  text-align: center;

  &.azimuth {
    img {
      width: 600px;
      height: 400px;
    }
  }

  &.deprecateme {
    img {
      width: 600px;
      height: 400px;
    }
  }
}

#rails-rumble-info {
  font-size: 26px;

  h2 {
    font-size: 38px;
  }

  div {
    width: 400px;
  }
}

.workshop {
  text-align: center;

  div {
    margin: 0 auto;
  }
}
